.page-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-list-container {
  width: 80%;
}

.home-image {
  background-image: url(https://statig2.akamaized.net/bancodeimagens/dy/91/i0/dy91i0aj0wgdonhceuisf58vu.jpg);
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.new-list-container > a > div{
  background-color: rgb(255, 255, 255, 0.8);
}

.list-container > a > div {
  background-color: rgb(255, 255, 255, 0.8);
}