.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-action-area {
  flex: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer{
  height: 40px;
}

.card-img {
  object-fit: cover;
}